In [26]:
import pandas as pd

In [27]:
data = pd.read_csv('pre_processed_mr.csv')

In [28]:
data

                                                       0    1
0      moore like progressive bull china shop provoca...  1.0
1                                           idiotic ugly  1.0
2      even naipaul original remains real masterpiece...  1.0
3                           movie amateurish minor treat  1.0
4      people march beat different drum ever wondered...  1.0
...                                                  ...  ...
10658                  strangely comes kingdom mild wild  0.0
10659  devolves derivative leaning badly rendered cgi...  0.0
10660  ugly duckling tale hideously clumsily told fee...  0.0
10661  unspeakable course barely begins describe plot...  0.0
10662                           least moore real charmer  0.0

[10663 rows x 2 columns]

In [29]:
import re
import numpy as np
import pandas as pd
from pprint import pprint

# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel
import spacy

print('Input DataSet Name')
dataset = 'mr'
print('Input Number of Classes')
classes = 2
dataset_path = 'pre_processed_' + dataset + '.csv'

# spacy for lemmatization


# Enable logging for gensim - optional
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.ERROR)

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

# NLTK Stop words
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

df = pd.read_csv(dataset_path)
orig_df = df
df.rename(columns={'0': "content", '1': "labels"}, inplace=True)
df = df[:-1]
data = df.content.values.tolist()
data_list = list(data)

Input DataSet Name
Input Number of Classes

In [30]:
data_words = [i.split() for i in data_list]

AttributeError: 'float' object has no attribute 'split'

In [41]:
data_list[7108]

nan

In [32]:
for i in

SyntaxError: invalid syntax (<ipython-input-32-8cbabfbcfb86>, line 1)

In [35]:
for i in range(len(data_words)):
    if data_words[i] != data_words[0]:
        print(i)

7108

In [37]:
data_words[7108]

float