In [1]:
import os
import re
import codecs
import numpy as np
import pandas as pd
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('test.txt', sep = '\t', header=None)

In [3]:
cols = df.columns.tolist()
cols = cols[::-1]

In [4]:
df = df[cols]

In [5]:
df

                                                      1         0
0     champion products ch approves stock split cham...      earn
1     computer terminal systems cpml completes sale ...       acq
2     cobanco inc cbco year net shr cts vs dlrs net ...      earn
3     am international inc am nd qtr jan oper shr lo...      earn
4     brown forman inc bfd th qtr net shr one dlr vs...      earn
...                                                 ...       ...
5480  kelly oil and gas partners kly year dec shr ct...      earn
5481  japan seeks to strengthen paris currency accor...  money-fx
5482  tcw convertible securities cvt sets dividend t...      earn
5483  south korean won fixed at month high the bank ...  money-fx
5484  australian unions launch new south wales strik...      ship

[5485 rows x 2 columns]

In [6]:
df.to_csv('df_R8_test' + '.csv', index=False)