In [1]:
import os
import re
import codecs
import numpy as np
import pandas as pd
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('test.txt', sep = '\t', header=None)

In [3]:
cols = df.columns.tolist()
cols = cols[::-1]

In [4]:
df = df[cols]

In [5]:
df

                                                      1      0
0     asian exporters fear damage from u s japan rif...  trade
1     china daily says vermin eat pct grain stocks a...  grain
2     australian foreign ship ban ends but nsw ports...   ship
3     western mining to open new gold mine in austra...   gold
4     sumitomo bank aims at quick recovery from merg...    acq
...                                                 ...    ...
2563  iran soviet union to swap crude refined produc...  crude
2564  n z s chase corp makes offer for entregrowth c...    acq
2565  japan india conference cuts gulf war risk char...   ship
2566  soviet industrial growth trade slower in the s...    ipi
2567  six killed in south african gold mine accident...   gold

[2568 rows x 2 columns]

In [6]:
df.to_csv('df_R52_test' + '.csv', index=False)