In [35]:
import os
import re
import codecs
import numpy as np
import pandas as pd
from nltk.corpus import stopwords

In [36]:
df = pd.read_csv('train.txt', sep = '\t', header=None)

In [40]:
cols = df.columns.tolist()
cols = cols[::-1]

In [41]:
df = df[cols]

In [42]:
df

                                                      1         0
0     bahia cocoa review showers continued throughou...     cocoa
1     champion products ch approves stock split cham...      earn
2     computer terminal systems cpml completes sale ...       acq
3     cobanco inc cbco year net shr cts vs dlrs net ...      earn
4     am international inc am nd qtr jan oper shr lo...      earn
...                                                 ...       ...
6527  n z unemployment rate pct in december quarter ...      jobs
6528  japan rubber stocks fall in march japan s rubb...    rubber
6529  south korean won fixed at month high the bank ...  money-fx
6530  nippon mining lowers copper price nippon minin...    copper
6531  australian unions launch new south wales strik...      ship

[6532 rows x 2 columns]

In [43]:
df.to_csv('df_R8' + '.csv', index=False)